@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

/*  Headers */ 
header{
    height: 75px;
    background-color: navy;
}
body{
    font-family: Roboto Slab, sans-serif;
    font-weight: 300;
}

#logo {
    font-family: Balsamiq Sans, sans-serif;
    color: gold;
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    color: gold;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: gold;

}

#menu a:hover {
    border-bottom: 1px solid gold;
}

.active {
    color: gold;
    border-bottom: 1px solid gold;
}

/* Main Page Services Navigation */

#services-menu {
    height: 1000px;
	padding: 1rem 0;
	margin-bottom: 0;
	background-image: url('../images/sky.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    color: gold;

}

#services-menu ul{
    list-style: none;
    line-height: 25px;
    color: gold; 
}

#services-left-content h2 {
    font-size: 175%;
    padding-left: 40px; 
    padding-top: 10px;
}

#services-left-content li{
    font-size: 125%;
    padding-left: 40px; 
    padding-top: 10px;
}

#services-right-content h2{
    text-align: right;
    font-size: 175%;
    padding-right: 40px; 
    padding-top: 10px;
}
#services-right-content li{
    text-align: right;
    font-size: 125%;
    padding-right: 40px; 
    padding-top: 10px;
}

#services-content-link a{
    text-decoration: none;
    color: gold;
}

#services-content-link a:hover {
    color: black;
}

#services-left{
    padding-top: 200px;
    padding-left: 10px;
    width: 33%;
    float: left;
}

#services-right{
    padding-top: 200px;
    padding-right: 30px;
    width: 40%;
    float: right;
}

#services-left-content{
    width: 90%;
    float: right;
    line-height: 50px;
    clear: both;
    margin-bottom: 50px;
}

#services-right-content {
    width: 90%;
    float: left;
    line-height: 50px;
    clear: both;
    margin-bottom: 50px;
}

#goldheart-image-container{
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0 auto;
}
#goldheart-image {
    background: url('../images/Golden-Heart-PNG-Clipart1.png') no-repeat center center;
    height: 100%;    
}

/* About Section*/

#about{
    margin-left: 5%;
    margin-right: 5%;
    border: 5px navy solid;
    width: 90%;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: navy;

}

#about h2{
    font-family: Balsamiq Sans, sans-serif;
    float: none;
    text-align: center;
    font-size: 280%;
    margin-left: 30px;
}

#about ul{
    font-size: 150%;
    line-height: 40px;
    list-style: none;
    line-height: 25px;
}

#about li{
    margin-bottom: 5px;
}

/*  Footer*/

footer{
    background-color: navy;
    height: 150px;
}

.social-networks{
    text-align: right;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: gold;
}
