@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

/*  Headers */ 
header{
    position: fixed;
    height: 75px;
    margin-left: 5%;
    width: 90%;
    background-color: #02075d;
}
body{
    font-family: Roboto Slab, sans-serif;
    font-weight: 300;
}

.logo {
    font-family: Balsamiq Sans, sans-serif;
    color: gold;
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
.menu {
    color: gold;
    font-size: 110%;
    letter-spacing: 4px;
}

.menu, .logo{
    line-height: 75px;
}

.menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: gold;

}

.menu a:hover {
    border-bottom: 1px solid gold;
}

.active {
    color: gold;
    border-bottom: 1px solid gold;
}

/* Main Page Services Navigation */

#services-menu {
    height: 1100px;
    padding-top: 90px;
    margin-left: 5%;
    width: 90%;
	margin-bottom: 0;
	background-image: url('../images/sky.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    color: #02075d;

}

#services-menu ul{
    list-style: none;
    line-height: 25px;
}

#services-left-content h2 {
    font-size: 175%;
    padding-left: 10px; 
    padding-top: 10px;
    
}

#services-left-content li{
    font-size: 150%;
    padding-left: 10px; 
    padding-top: 10px;
}

#services-right-content h2{
    text-align: right;
    font-size: 175%;
    padding-right: 10px; 
    padding-top: 10px;
}
#services-right-content li{
    text-align: right;
    font-size: 150%;
    padding-right: 10px; 
    padding-top: 10px;
}

#services-content-link a{
    text-decoration: none;
    color: #02075d;
}

#services-content-link a:hover {
    color: #C18F44;
}

#services-left{
    padding-top: 50px;
    padding-left: 10px;
    width: 40%;
    float: left;
}

#services-right{
    padding-top: 50px;
    padding-right: 10px;
    width: 40%;
    float: right;
}

#services-left-content{
    width: 90%;
    float: right;
    line-height: 50px;
    clear: both;
    margin-bottom: 50px;
}

#services-right-content {
    width: 90%;
    float: left;
    line-height: 50px;
    clear: both;
    margin-bottom: 50px;
}

#goldheart-image-container{
    width: 400px;
    height: 350px;
    padding: 0;
    margin: 0 auto;
}
#goldheart-image {
    background: url('../images/Golden-Heart-PNG-Clipart75.png') no-repeat center center;
    height: 100%;    
}

/* About Section*/

#about{
    margin: 20px 5% 0 5%;
    width: 90%;
    padding: 5px 10px 5px 10px;
    text-align: left;
    color: #02075d;

}

#about h2{
    font-family: Balsamiq Sans, sans-serif;
    float: none;
    text-align: center;
    font-size: 280%;
    margin-bottom: 10px;
}

#about ul{
    font-size: 150%;
    line-height: 40px;
    list-style: none;
    line-height: 25px;
}

#about li{
    margin-bottom: 10px;
    color:#02075d;
}

/*  Footer*/

footer{
    position: fixed;
    bottom: 0;
    background-color: #02075d;
    height: 90px;
    margin-left: 5%;
    width: 90%;
}

.social-networks{
    text-align: right;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 300%;
    margin: 1%;
    padding: 0.5%;
    color: gold;
}

/* Services Page*/

aside {
    padding-top: 80px;
    position: fixed;
    float: left;
    margin-left: 7%;
    width: 20%;
}

aside li {
    list-style: none;
}

.services {
    padding-top: 80px;
    float: right;
    margin-right: 5%;
    width: 70%;
    height: auto;
}

.services div {
    margin-top: 10px;
    padding: 5px;
    border: navy solid 5px;
}
