@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

/*  Headers */
header {
    height: 75px;
    margin-left: 5%;
    width: 90%;
    background-color: #02075d;
}

body {
    font-family: Roboto Slab, sans-serif;
    font-weight: 300;
}

.logo {
    font-family: Balsamiq Sans, sans-serif;
    color: goldenrod;
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
.header-nav {
    color: goldenrod;
    font-size: 110%;
    letter-spacing: 4px;
}

.header-nav,
.logo {
    line-height: 75px;
}

.header-nav li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

.header-nav a {
    text-decoration: none;
    color: goldenrod;
}

.header-nav a:hover {
    border-bottom: 1px solid goldenrod;
}

.active {
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
}

/* Main Page Services Navigation */

#services-menu {
    height: 150%;
    padding: 50px 0;
    margin-left: 5%;
    width: 90%;
    margin-top: 10px;
    background: url('../images/sky.jpg') no-repeat center center;
    background-size: cover;
    color: #02075d;

}

#services-menu ul {
    list-style: none;
}

#services-left-content h2 {
    font-size: 175%;
    padding-left: 10px;
    padding-top: 10px;

}

#services-left-content li {
    font-size: 150%;
    padding-left: 10px;
    padding-top: 10px;
}

#services-right-content h2 {
    text-align: right;
    font-size: 175%;
    padding-right: 10px;
    padding-top: 10px;
}

#services-right-content li {
    text-align: right;
    font-size: 150%;
    padding-right: 10px;
    padding-top: 10px;
}

.services-content-link a {
    text-decoration: none;
    color: #02075d;
}

.services-content-link a:hover {
    color: #C18F44;
}

#services-left {
    padding-top: 30px;
    padding-left: 10px;
    width: 30%;
    float: left;
}

#services-right {
    padding-top: 30px;
    padding-right: 10px;
    width: 30%;
    float: right;
}

#services-left-content {
    width: 90%;
    float: right;
    line-height: 50px;
    margin-bottom: 50px;
}

#services-right-content {
    width: 90%;
    float: left;
    line-height: 50px;
    margin-bottom: 50px;
}

#goldheart-image-container {
    width: 400px;
    height: 350px;
    padding: 0;
    display: inline-block;
    margin: 0 5%;

}

#goldheart-image {
    height: 100%;
    background: url(../images/Golden-Heart-PNG-Clipart.png) no-repeat center center;
}

/* About Section*/

#about {
    margin: 20px 5% 20px 5%;
    width: 90%;
    padding: 5px 10px 5px 10px;
    color: #02075d;

}

#about h2 {
    font-family: Balsamiq Sans, sans-serif;
    text-align: center;
    font-size: 280%;
    width: 90%;
    margin: 5px auto;
}

#about div {
    border: #02075d solid 5px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    background-color: goldenrod;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px;
    margin: 5px;
}

.meditation-media {
    width: 50%;
    margin: 10px auto 150px auto;

}

.meditation-media h2 {
    color: #02075d;
    float: none;
    text-align: center;
    font-size: 280%;
    margin-bottom: 10px;
}

.meditation-media iframe {
    margin-top: 20px;
    height: 500px;
    width: 100%;
}

/*  Footer*/

footer {
    position: fixed;
    bottom: 0;
    background-color: #02075d;
    height: 90px;
    margin-left: 5%;
    width: 90%;
    z-index: 3;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}


.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 1%;
    color: goldenrod;
    vertical-align: middle;
}

.social-networks a {
    line-height: 75px;
    vertical-align: middle;
    text-decoration: none;
    color: goldenrod;
}


/* Services Page*/

aside {
    padding-top: 80px;
    position: fixed;
    float: left;
    margin-left: 7%;
    width: 20%;
}

aside li {
    margin: 10px 0 10px 0;
    list-style: none;
}

.services {
    float: right;
    margin: 10px 5% 90px 0;
    width: 60%;
    height: auto;
}

.services div {
    margin: 10px 5px 10px 5px;
    padding: 5px;
    border: #02075d solid 5px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    height: fit-content;
}

.services p {
    margin-top: 15px;
}

.services-box-right h2 {
    float: right;
    width: 70%;
    text-align: right;
}

.services-box-right img {
    float: left;
    padding: 5px;
    width: 25%;
}

.services-box-left h2 {
    float: left;
    width: 72%;
    text-align: left;
}

.services-box-left img {
    float: right;
    padding: 5px;
    width: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Form Page*/

fieldset {
    border: none;
    margin-top: 20px;
}

input[type=submit],
input[type=reset] {
    margin-top: 20px;
    padding: 10px;
    background-color: #02075d;
    color: goldenrod;
    border: none;
    border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=signs] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    margin: 0 auto;
}

form {
    width: 50%;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto 110px auto;
    background-color: goldenrod;
    color: #02075d;
}

.block-label {
    display: block;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

label {
    margin: 20px 15px 10px 0;
}

.radio-buttons {
    display: inline-block;
}

.radio-buttons p {
    margin-top: 10px;
}

.radio-buttons-top {
    margin: 10px;
}

.radio-buttons-bottom {
    margin: 10px;
}

fieldset h2{
    padding: 5px;
}

/*  Submit Page CSS*/
.namaste {
    width: 90%;
    background: url(../images/cosmic.jpg) no-repeat center center;
    margin-left: 5%;

}

.nasmate-container {
    width: 80%;
    margin-left: 5%;
}


/* Media Queries*/

/* for larger to medium screens size from 1280px wide and down Alptop size on http://ami.responsivedesign.is/ */

@media screen and (max-width: 1280px) {

    #about div {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    #services-left {
        width: 26%;
    }

    #services-right {
        width: 26%;
    }

    #services-left-content {
        line-height: 25px;
    }

    #services-right-content {
        line-height: 25px;
    }

    #services-left-content li {
        font-size: 100%;
    }

    #services-right-content li {
        font-size: 100%;
    }

    .services-content-link a {
        text-decoration: underline;
    }

}

/* for larger to medium screens size from 768px wide and down */

@media screen and (max-width: 768px) {


    header {
        height: 150px;
    }

    .header-nav {
        line-height: 40px;
        margin: 10px 20% 10px 10%;
        float: left;
    }

    .header-nav li {
        display: inline-block;
        margin: 10px;
    }

    .logo {
        text-align: center;
    }

    #goldheart-image-container {
        width: 270px;
        height: 240px;
    }

    #goldheart-image {
        background: url(../images/Golden-Heart-PNG-Clipart-small.png) no-repeat center center;
    }

    #services-left {
        width: 22%;
    }

    #services-right {
        width: 22%;
    }

    #services-right-content {
        line-height: 25px;
    }

    #services-left-content li {
        font-size: 75%;
    }

    #services-right-content li {
        font-size: 75%;
    }

    #services-left-content h2 {
        font-size: 100%;
    }

    #services-right-content h2 {
        font-size: 100%;
    }

    .social-networks i {
        font-size: 200%;
    }

    aside {
        padding-top: 20px;
    }

    form {
        width: 80%;
        padding: 10px;
    }

    input[type=text],
    input[type=email],
    input[list=signs] {
        width: 90%;
    }

    textarea {
        width: 90%;
    }

    input[type="radio"] {
        margin-top: -1px;
        vertical-align: middle;
    }

    .radio-buttons-top {
        margin: 0 5px;
    }

    .radio-buttons-bottom {
        margin: 0 5px;
    }

    /* for larger to medium screens size from 500px wide and down */

    @media screen and (max-width: 500px) {

        header {
            height: 100px;
        }

        .logo {
            font-size: 200%;
            line-height: 20px;
            margin-top: 20px;
        }

        .header-nav {
            line-height: 40px;
            margin: 10px 10% 10px auto;
            font-size: 100%;
        }

        #services-menu {
            padding: 20px 0;
            height: 700px;
        }

        #services-menu div {
            display: block;
            width: 90%;
        }

        #services-left {
            margin-top: 200px;
        }

        #services-left-content li {
            font-size: 150%;
        }

        #services-right {
            margin-top: 10px;
            padding: 0;
        }

        #services-right-content li {
            font-size: 150%;
        }

        #services-left-content h2 {
            font-size: 175%;
        }

        #services-right-content h2 {
            font-size: 175%;
        }

        .meditation-media {
            width: 80%;
        }

        .social-networks a {
            line-height: 40px;
        }

        .social-networks i {
            font-size: 150%;
            margin: 1%;
            padding: 1%;
        }
        
       
    }

    /* for larger to medium screens size from 350px wide and down */

    @media screen and (max-width: 320px) {


        .logo {
            padding-top: 10px;
            font-size: 150%;
            margin-top: 5px;
        }

        .header-nav {
            font-size: 90%;
            letter-spacing: 1px;
        }


        #services-menu div {
            width: 100%;
        }

        #goldheart-image-container {
            margin: 0 1%;
        }

        .social-networks a {
            line-height: 40px;
        }

        .social-networks i {
            font-size: 140%;
        }

        aside {
            float: none;
            position: unset;
            width: 90%;
            line-height: 25px;
            margin-bottom: 10px;
        }

        .services {
            width: 90%;
            margin-right: 5%;
        }

        .services div {
            float: unset;
            width: 90%;
        }

        .services-box-right h2 {
            float: unset;
            text-align: center;
            width: 90%;
        }

        .services-box-right img {
            width: 90%;
            margin: 5px 5%;
        }

        .services-box-left h2 {
            float: unset;
            text-align: center;
            width: 90%;
        }

        .services-box-left img {
            width: 90%;
            margin: 5px 5%;
        }

        .services-div-text {
            font-size: 0;
        }

        fieldset h2{
             font-size: 100%;
         }

        
    }